.mainHeader {
	width: 100%;
	margin-bottom: 30px;
	background: #008cba;
}

.myHeader {
	position: relative;
	width: 980px;
	margin: 0 auto;
	height: 150px;
}

.myHeader .banner {
	position: absolute;
	width: 500px;
	height: 130px;
	left: 50%;
	top: 10px;
	margin-left: -250px;
	background: #fff;
	text-align: center;
	line-height: 130px;
}

.myHeader .logo {
	float: left;
	display: block;
	margin: 20px;
}

.myHeader .logo img {
	width: 200px;
}

.myHeader .userWrapper {
	float: right;
	margin-top: 40px;
	font-size: 18px;
	line-height: 30px;
	text-align: right;
}

.myHeader .userWrapper .user {
	color: #fff;
}

.myHeader .userWrapper a:hover {
	text-decoration: underline;
}

.myHeader .userWrapper a {
	color: #fff;
}

.content {
	width: 980px;
	margin: 0 auto;
}

.login, 
.registration {
	text-align: center;
}

.login .loginForm,
.registration .regForm {
	width: 500px;
	margin: 20px auto;
}

.registration .regForm input[type=email],
.registration .regForm input[type=password] {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login .error, 
.login button,
.registration .error,
.registration button,
.createTalk .talkForm button,
.userprofile .userForm button {
	border-radius: 5px;
}

.login .button,
.registration .button {
	width: 200px;
}

.req {
	position: relative;
}

.req:after {
	content: "*";
	display: inline-block;
	color: red;
	position: absolute;
	z-index: 2;
	left: -10px;
	top: 0;
	font-size: 20px;
}

.info {
	text-align: start;
}

.errorBlock {
	width: 500px;
	margin: 10% auto;
	text-align: center;
}
.errorBlock .error {
	font-size: 20px;
	line-height: 50px;
	border-radius: 5px;
}
.errorBlock .vcard {
	width: 100%;
}

.createTalk legend {
	margin: 20px auto;
	font-size: 36px;;
	text-transform: uppercase;
}

.createTalk .talkForm {
	width: 90%;
	margin: 0 auto;
}

.createTalk .talkForm label {
	margin: 5px 0 5px 5px;
	font-size: 14px;
}

.createTalk .talkForm .title {
	width: 250px;
}

.createTalk .talkForm .description textarea {
	height: 205px;
	resize:none;
}

.createTalk .talkForm .date {
	width: 190px;
}

.createTalk .talkForm .file {
	width: 300px;
}

.createTalk .talkForm .button {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.createTalk .req:after  {
	top: 20px;
}

.main .talks {
	width: 930px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	clear: both;
	overflow: hidden;
}

.main .talks li {
	float: left;
	display: block;
	width: 310px;
	height: 200px;
}

.main .talks .talkPrev {
	position: relative;
	display: block;
	max-height: 180px;
	vertical-align: middle;
	margin: 10px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);	
}

.main .talks .talkPrev img {
	width: 290px;
}

.main .talks .talkPrev .title {
	position: absolute;
	display: block;
	left: 0;
	right: 0;	
	bottom: -30px;
	font-size: 20px;
	line-height: 30px;
	color: white;
	background-color: rgba(183, 183, 183, 0.5);
	text-align: center;
	-webkit-transition: bottom 0.3s;
	transition: bottom 0.3s;
}

.main .talks .talkPrev:hover .title {	
	bottom: 0px;
}

.main .canCreate {
	text-align: center;
	line-height: 50px;
}

.main .moreButton {
	display: block;
	margin: 0 auto;
}

.userprofile .userForm {
	width: 80%;
	margin: 0 auto;
}

.userprofile .userForm label {
	display: inline-block;
	margin: 10px 5px 5px 0px;
	font-size: 14px;
	width: 17%;
	vertical-align: top;
	text-align: right;
}

.userprofile .userForm input {
	display: inline-block;
	width: 50%;
}

.userprofile .userForm textarea {
	display: inline-block;
	width: 80%;
	height: 205px;
	resize:none;
}

.userprofile .userForm .button {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.talk header .date {
	float: right;
	display: block;
	margin: 35px 10px 0 0;
}

.talk header h2 {
	padding: 5px 0 0 5px;
	border-bottom: 1px solid #DADADA;
}

.talk header .author {
	display: block;
	margin: 0 0 20px 5px;
}

.talk article img {
	display: block;
	width: 800px;
	margin: 0 auto;
}

.talk .description {
	display: block;
	margin: 20px 0 5px;
	padding: 0 20px 10px;
	border-bottom: 1px solid #DADADA;
}

.talk .subButton {
	float: left;
	display: block;
	width: 100px;
	padding: 0;
	text-align: center;
	background-color: rgb(219, 28, 28);
	color: #ffffff;
	line-height: 24px;
	border-radius: 5px;
}

.talk .subLinks {
	width: 960px;
	margin: 0 auto;
}

.talk .subLinks div {
	float: right;
	height: 24px;
}

.talk .evalButton {
	display: inline-block;
	width: 24px;
	height: 24px;	
	border-radius: 12px;
	color: white;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
}

.talk .like {
	background-color: #2F8D1D;
	line-height: 24px;
}

.talk .dislike {
	background-color: #666666;
	height: 24px;
	line-height: 20px;
}

.talk .commentsWrapper {
	width: 800px;
	margin: 0 auto;
}

.talk .subscribers {
	display: block;
	border: 1px solid #DADADA;
	padding: 5px 20px 5px 5px;
	border-radius: 5px;
	list-style-type: none;
	margin: 10px 10px 40px;
}

.talk .subscribers > li {
	float: left;
	display: block;
}

.talk .subscribers > li > a {
	position: relative;
	display: block;
	padding: 2px 20px;
	background-color: rgb(219, 28, 28);
	border-radius: 2px 0 0 2px;
	line-height: 20px;	
	color: #ffffff;
}

.talk .subscribers > li > a:after {
	position: absolute;
	display: block;
	content: "";
	z-index: 1;
	width: 0;
	height: 0;
	top: -1px;
	right: -16px;
	border-top: 13px solid transparent;
	border-left: 16px solid #ffffff;
	border-bottom: 13px solid transparent;
}

.talk .subscribers > li > a:before {
	position: absolute;
	display: block;
	content: "";
	z-index: 2;
	width: 0;
	height: 0;
	top: 0px;
	right: -15px;
	border-top: 12px solid transparent;
	border-left: 15px solid rgb(219, 28, 28);
	border-bottom: 12px solid transparent;
}

.talk .comment {
	width: 100%;
	min-height: 200px;
	background: #ddd;
	border-radius: 6px;
	padding: 10px 10px 40px;
	position: relative;
	margin-bottom: 20px;
}

.talk .cAuthor {
	display: block;
	font-size: 20px;
	line-height: 30px;
}

.talk .text {
	min-height: 110px;
	padding: 5px;
	background-color: #fff;
}

.talk .bottom {
	position: absolute;
	bottom: 10px;
	width: 775px;
}

.talk .cEval {
	float: right;
}

.talk .more,
.talk .addComment {
	position: relative;
	width: 200px;
	padding: 0;
	line-height: 40px;
	border-radius: 5px;
	display: block;
	margin: 20px auto;
}

.talk .more:after {
	position: absolute;
	display: block;
	content: "";
	width: 980px;
	height: 1px;
	background-color: #DADADA;
	bottom: -20px;
	left: -390px;
}

.talk form {
	width: 800px;
	padding-top: 20px;
	margin: 0 auto;
}

.talk form textarea {
	resize: none;
}

.userInfo h3 {
	text-align: center;
}

.userInfo .info {
	width: 800px;
	margin: 20px auto;
	text-align: right;
	line-height: 26px;
}

.userInfo .info > span {
	display: inline-block;
	background-color: #DADADA;
	padding: 5px;
	width: 75%;
	float: right;
	text-align: left;
	margin-left: 10px;
	border-radius: 4px;
	line-height: 18px;
}

.userInfo .list {
	text-align: center;
	margin-top: 40px;
}

.userInfo .list h4 {
	border-bottom: 1px solid #DADADA;
	width: 500px;
	margin: 0 auto;
}

.userInfo .list ul {
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: left;
	list-style-type: none;
	margin-top: 20px;
}

.comment .removeButton {
	float: right;
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	background-color: #fff;
}

.comment .removeButton:after,
.comment .removeButton:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 13px;
	background-color: #0078a0;
	left: 11.5px;
	top: 6px;
}


.comment .removeButton:after {
	-webkit-transform: skewX(-45deg);
}

.comment .removeButton:before {
	-webkit-transform: skewX(45deg);
}

.red {
	color: rgb(219, 28, 28);
}