<div class="talk">
	<div class="wrapper">
		<div class="talkInfo" ng-show="!!talk.title">
			<header>
				<span class="date">{{talk.date}}</span>
				<h2>{{talk.title}}</h2>
				<span class="author">Author: <a href="#/userinfo/{{talk.author.nickname}}">{{talk.author.nickname}}</a></span>
			</header>
			<article>
				<img src="{{talk.image}}" alt="{{talk.title}}">
				<span class="description">{{talk.description}}</span>
			</article>
			<div class="sub">
				<div class="subLinks clearfix">
					<a href="../talk/subscribe" class="subButton button" ng-if="talk.isCanSubscribe" ng-click="subscribe($event)">Subscribe</a>
					<div>
						<span ng-if="talk.isCanEvaluate">
							Evaluate:
							<a href="../talk/like" class="evalButton like" ng-click="eval($event,1)">+</a>
							<a href="../talk/dislike" class="evalButton dislike" ng-click="eval($event,-1)">-</a>
						</span>
						<span>Rating: {{talk.rating}}</span>
					</div>
				</div>
				<ul class="subscribers" ng-if="!!talk.participants.length" >
					<li ng-repeat="(key, value) in talk.participants">
						<a class="participant" href="#/userinfo/{{value.nickname}}">{{value.nickname}}</a>
					</li>
				</ul>
			</div>
			<div class="comments" ng-if="!!comments">
				<div class="commentsWrapper">
					<comment ng-repeat="(key, value) in comments" data="value"></comment>
				</div>
				<a href="more" class="button" ng-click="moreComments($event)" ng-if="!isCommentsEnd">More</a>
				<form name="commentForm" class="commentsCreater">
					<textarea name="comment" placeholder="Comment" ng-model="talk.newComment" required></textarea>
					<button class="button" ng-click="createComment($event)" ng-disabled="!commentForm.$valid">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>