<div class="userInfo">
	<div class="wrapper">
		<h3>User {{(!!userData.firstName && !!userData.lastName) ? userData.firstName + " " + userData.lastName : user.nickname}}</h3>
		<div class="info" ng-if="!!userData.city">
			Address:
			<span>{{userData.city}}</span>
		</div>
		<div class="info" ng-if="!!userData.about">
			Information about user:
			<span class="big">{{userData.about}}</span>
		</div>
		<div class="info" ng-if="!!userData.job">
			Job:
			<span>{{userData.job}}</span>
		</div>
		<div class="list" ng-if="!!userData.talks">
			<h4>Most popular talk of {{userData.talksNumber}}</h4>
			<ul class="talks">
				<li ng-repeat="(key, value) in userData.talks">
					<a href="#/talk/{{value._id}}">{{value.title}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>